<footer class="site-footer">

  <div class="social-links">
    <a href="https://facebook.com/kurafatengineer" target="_blank">Facebook</a>
    <a href="https://instagram.com/kurafatengineer" target="_blank">Instagram</a>
    <a href="https://twitter.com/kurafatengineer" target="_blank">Twitter</a>
    <a href="https://wa.me/919001800307" target="_blank">WhatsApp</a>
    <a href="https://snapchat.com/add/kurafatengineer" target="_blank">Snapchat</a>
    <a href="https://t.me/kurafatengineer" target="_blank">Telegram</a>
    <a href="#" title="Aratai - kurafatengineer">Aratai</a>
  </div>

  <p class="footer-text">
    © 2025 Kurafat Engineer
  </p>

</footer>
